html {
  padding: auto;
  font-family: sans-serif;
}

.header {
  margin-top: 4em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

.configure-body {
  padding: 2em;
}

.entry-col {
  width: 60%;
}

.save-success-alert {
  display: none;
  cursor: pointer;
}